:root {
    --sl-content-width: 50rem;
    --sl-text-5xl: 3.5rem;
  }

 .button-box{
  display: flex;
  gap: 30px;
   justify-content: space-between;
 
 }
 .right-icon{
  margin-left: 300px;
text-align: center;
 }
 .butn-card{
  background-color: rgb(3, 3, 82);
 }
 
 .butn{
  width: 250px;
  height: 90px;
  background-color: rgb(69, 69, 226);
  border-radius: 50px;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  color: white;
  
 }
.icon-box{
  height: 200px;
  display: flex;
  align-items: center; 
  justify-content: space-evenly;
  margin-top: 100px;
 
}

.image{
  width: 100%;
 border-radius: 40px;
}