.slider {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.slide-image {
  width: 100%;
  height: auto;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  border-radius: 50%;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.prev-button:hover,
.next-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  /* Darker background on hover */
}
@media (min-width:764px) {
   .slider{
    display: none;
   }
}