---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';

---

<StarlightPage frontmatter={{ title: 'The Aim of Lifemaker' }}>
  <p>The aim of Lifemaker movement is to develop the right understanding (truth) within oneself 
    and to live by it, as individuals – on our own right, i.e. with self-discipline; and contribute
    to a society which ensures the wellbeing of all in continuity, i.e. a self-governing, undivided 
    society which is just and equitable.</p>
    <p>To realize a society (with its systems of education and self governance) where there 
      is an all round harmony, beauty and excellence, and a smile on everyone’s face. Guided 
      by universal understanding and consensus on the way to live, this system will tend to unite
      the humankind as the undivided world family. It will provide a fertile environment and culture 
      to fulfill the most fundamental aspiration and purpose of every human on Earth; from family to 
      family and generation to generation. It will function towards giving everyone a beautiful and 
      fulfilling lifetime on Earth; and cocreation of a beautiful world truly at par with the human capability.</p>
     <div> For realizing this we need naturally acceptable, shared understanding of
      <ul>
        <li>The nature of self as human</li>
        <li> Existence as coexistence and</li>
        <li>The way to live with good governance, in a family and grassroots centric way, covering education, health, 
          production/services, distribution, relationships and nurture of nature.
          </li>
      </ul>
    </div>
    <h2>This is an individual and collective endeavour</h2>
 
</StarlightPage>