---
import type { Props } from '@astrojs/starlight/props';
---
 <h1>FAQ</h1>

 <h3>What is the history of this movement?</h3>
<p>This vision of establishment of Undivided Human Society with a social
order ensuring overall wellbeing for all, has been dream of many over time. 
In India, there have been a number of people who have been understanding, 
talking about and working on the proposal since many years. The good news 
is that now we seem to have a universally acceptable perspective and solution proposal, 
thanks to work done by some in 20th and 21st century, especially the Madhyastha Darshan movement.</p>