---

import type { Props } from '@astrojs/starlight/props';


---

<a class="link"  href="about">About</a>
<a href="">Visit</a>
<a href="faq">FAQ</a>


<style>
  a{
    text-decoration: none;
    color: black;
    font-weight: 500;
  }
</style>