---

import type { Props } from '@astrojs/starlight/props';
import { Astronav, MenuIcon, OpenIcon, CloseIcon } from "astro-navbar";

 
---
<!-- <Astronav>
  ...
  <MenuIcon>
    <OpenIcon>
      <svg>...</svg>
    </OpenIcon>
    <CloseIcon>
      <svg>...</svg>
    </CloseIcon>
  </MenuIcon>
  ...
  </Astronav> -->
<a href="/guides/about">About</a>
<a href="/pilot/pilot">Visit</a>
<a href="/faq">FAQ</a>
<a href="/guides/working">Working Model</a>




<style>
  a{
    text-decoration: none;
    color: black;
    font-weight: 700;
  }
</style>
