---

import type { Props } from '@astrojs/starlight/props'; 
import { Icon } from '@astrojs/starlight/components'; 

const { labels } = Astro.props;
---
<a href="/guides/about">About</a>
<a href="/pilot/pilot">Visit</a>
<a href="/faq">FAQ</a>
<a href="/guides/working">Working Model</a>
<a href="/guides/literaturefile">Literature</a>
<a href="/Lifemaker/src/content/docs/contact">Contact Us</a>



<style>
  a{
    text-decoration: none;
    color: black;
    font-weight: 700;
	margin: 5px;
  }

</style>





